.ieltsWritingScore {
  padding: 20px 0px;
  font-size: 16px;
}
.ieltsWritingScore form {
  padding: 20px 0px;
}

.ieltsWritingScore .row {
  display: flex;
  align-items: center;
  padding: 12px 0px;
}

.ieltsWritingScore .row .control {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ieltsWritingScore .row  .control select {
  padding: 6px;
  height: 40px;
  border: 1px solid gray;
}


.ieltsWritingScore .row  .control textarea.topic {
  padding: 5px;
  height: 80px;
  border: solid 1px grey;
}

.ieltsWritingScore .row  .control textarea.essayContents {
  padding: 5px;
  height: 310px;
  border: solid 1px grey;
}

.ieltsWritingScore .row .control .label {
  padding: 10px 0px;
  font-weight: 550;
}

.ieltsWritingScore .row .control .desc {
  margin-top: 8px;
}

.ieltsWritingScore .row  .control .images {
  padding: 10px 0px;
  width: 480px;
  height: auto;
}

.ieltsWritingScore .row  .control .images img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: solid 1px grey;
}


.ieltsWritingScore .row .control button {
  padding: 10px 12px;
  cursor: pointer;
}


.ieltsWritingScore .error {
  color: red;
  font-weight: 700;
}

.ieltsWritingScore .wordCount {
  text-align: right;
  padding: 4px 2px;
  margin-top: 0px !important;
}

.ieltsWritingScore .scoreResult {
  padding: 15px;
  border: dotted 3px grey;
}

.ieltsWritingScore .scoreResult label {
  font-weight: 700;
}

.ieltsWritingScore .scoreResult .resultImage img {
  padding: 5px 0px;
  width: 100%;
}

.ieltsWritingScore .scoreResult .answerContents {
  color: grey;
  /* font-style: italic; */
  padding: 15px 0px;
  font-size: 18px;
}

.ieltsWritingScore .scoreResult .innerContent {
  padding: 15px 0px;
  font-size: 18px;
}
