* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {  
  padding: 15px 20px;
  box-sizing: border-box;
  font-size: 1.1em; 
  font-family: serif, sans-serif, Arial, Helvetica;
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

@media screen and (max-width: 768px) {
  body {
    padding: 15px 15px;
    font-size: 1em;
  }
  
}

h1.title, h2.title {
  color: silver;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
}

@media screen and (max-width: 768px) {
  h1.title, h2.title {
    font-size: 1.8em;
    padding: 10px 0px;
  }
}

.maincontainer {
  padding: 10px 0px;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 3px dotted silver;
  font-size: inherit;
}
a:hover {
  color: rgb(57, 66, 239);
}

.footer {
  padding: 50px 0px;
  font-size: 1rem;
  text-align: center;
  color: grey;
  font-weight: 700;
}

.custom404_page {
  line-height: 2em;
  text-align: center;
}
