.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 10px 0px; */
  /* font-size: 1em; */
}

.main p {
  line-height: 1.7em;
}

.head {
  font-size: 2.6em;
}
