.tools {
  font-size: 1rem;
  padding: 20px;
}

.tools ul {
  list-style-type: disc;
  /* padding: 10; */
}

.tools li {
  padding: 8px 5px;
}

.tools li ol {
  margin: 0;
  padding: 0px 10px;
}

.tools li ol li {
  list-style-type: circle;
  padding: 8px 5px;
}

.tools li ul li:first-child {
  padding-left: 0;
}
